{% extends "base_demandes.html" %}

{% block body %}


<div class="container custom-container">
    {% if session.user.Role == 'Client' %}
    <h2>Mes Demandes</h2>
    {% elseif session.user.Role == 'Intervenant' %}
    <h2>Mes Interventions</h2>
    {% else %}
    <h2>Tableau de bord</h2>
    {% endif %}



    {% if session.error %}
    <div id="alert-message" style="display:none;" class="alert alert-success">
        Votre message ici.
    </div>
    
    {% endif %}


    {% set statusDescriptions = {1: 'En attente', 2: 'En cours', 3: 'Terminée', 4: 'Clôturée', 5:'Annulée'} %}
    {% set imagesByTitle = {
        "Installation de panneaux solaires": "images/Panneauxsolaires.png",
        "Entretien du chauffage": "images/Chauffage.png",
        "Isolation des combles": "images/combles.png",
        "Réparation des conduites d'air": "images/ConduitsAir.png",
        "Isolation des tuyaux de plomberie": "images/IsolationTuyaux.png",
        "Réparation des radiateurs": "images/Radiateurs.png"
    } %}
    
    
    {% if session.user.Role == 'Standardiste' %}
        {% for statusID, statusName in statusDescriptions %}
            <div class="statut-titre">{{ statusName }}</div>
            <div class="row">
                {% set found = false %}
                {% for intervention in interventions %}
                    {% if intervention.StatusID == statusID %}
                        {% set found = true %}
                        <div class="col-md-4">
                            <div class="card-wrapper">
                                <div class="service-card {% if intervention.UrgencyLevelID == 3 %}urgent{% endif %}"
                                    data-title="{{ intervention.Title }}"
                                    data-img="{{ imagesByTitle[intervention.Title]|default('path/to/default.jpg') }}"
                                    data-detail="{{ intervention.Description }}"
                                    data-status="{{ statusDescriptions[intervention.StatusID] }}"
                                    data-intervention-id="{{ intervention.ID }}"
                                    data-planned-date="{{ intervention.InterventionDate|date('Y-m-d') }}"
                                    data-urgency-level="{{ intervention.UrgencyLevelID }}">
                                    <h3>{% if intervention.UrgencyLevelID == 3 %}<i class="bi bi-exclamation-triangle-fill"></i>{% endif %} {{ intervention.Title }}</h3>
                                </div>
                                <div class="text-center mt-2">
                                    {% if intervention.StatusID in [1, 2, 3] %}

                                        <button type="button" class="btn btn-info btn-sm modifier-statut-btn" data-toggle="modal" data-target="#statusModal" data-id="{{ intervention.InterventionID }}" data-status="{{ intervention.StatusID }}" data-status-text="{{ statusDescriptions[intervention.StatusID] }}" data-intervention-id="{{ intervention.ID }}">Modifier le Statut</button>
                                        {% if intervention.StatusID == 3 %} <!-- Si le statut est "Terminée" -->
                                            <button type="button" class="btn btn-secondary btn-sm close-intervention-btn" data-id="{{ intervention.InterventionID }}" data-status="{{ intervention.StatusID }}" data-status-text="{{ statusDescriptions[intervention.StatusID] }}" data-intervention-id="{{ intervention.ID }}">Clôturer</button>
                                            
                                        {% endif %}
                                        {% if intervention.StatusID == 1 %} <!-- Si le statut est "Terminée" -->
                                                <button type="button" class="btn btn-secondary btn-sm avoid-intervention-btn" data-id="{{ intervention.InterventionID }}" data-status="{{ intervention.StatusID }}" data-status-text="{{ statusDescriptions[intervention.StatusID] }}" data-intervention-id="{{ intervention.ID }}">Annuler</button>
                                                <button type="button" class="btn btn-secondary btn-sm avoid-intervention-btn" data-id="{{ intervention.InterventionID }}" data-status="{{ intervention.StatusID }}" data-status-text="{{ statusDescriptions[intervention.StatusID] }}" data-intervention-id="{{ intervention.ID }}">Modifier</button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if not found %}
                    <p class="aucune-intervention col-12">Aucune intervention pour "{{ statusName }}"</p>
                {% endif %}
            </div>
        {% endfor %}


        {% elseif session.user.Role == 'Intervenant' %}
        {% for statusID, statusName in statusDescriptions %}
            <div class="statut-titre">{{ statusName }}</div>
            <div class="row">
                {% set found = false %}
                {% for intervention in interventions %}
                    {% if intervention.StatusID == statusID %}
                        {% set found = true %}
                        <div class="col-md-4">
                            <div class="card-wrapper">
                                <div class="service-card {% if intervention.UrgencyLevelID == 3 %}urgent{% endif %}"
                                    data-title="{{ intervention.Title }}"
                                    data-img="{{ imagesByTitle[intervention.Title]|default('path/to/default.jpg') }}"
                                    data-detail="{{ intervention.Description }}"
                                    data-status="{{ statusDescriptions[intervention.StatusID] }}"
                                    data-intervention-id="{{ intervention.ID }}"
                                    data-planned-date="{{ intervention.InterventionDate|date('Y-m-d') }}"
                                    data-urgency-level="{{ intervention.UrgencyLevelID }}">
                                    <h3>{% if intervention.UrgencyLevelID == 3 %}<i class="bi bi-exclamation-triangle-fill"></i>{% endif %} {{ intervention.Title }}</h3>
                                </div>
                                <div class="text-center mt-2">
                                    {% if intervention.StatusID == 4 %}
                                    <button type="button" class="btn btn-secondary btn-sm open-comment-modal" data-toggle="modal" data-target="#commentModal" data-id="{{ intervention.InterventionID }}" data-intervention-id="{{ intervention.ID }}">Laisser un commentaire</button>
                                    {% elseif intervention.StatusID != 5 %}
                                    <button type="button" class="btn btn-info btn-sm modifier-statut-btn" data-toggle="modal" data-target="#statusModal" data-id="{{ intervention.InterventionID }}" data-status="{{ intervention.StatusID }}" data-status-text="{{ statusDescriptions[intervention.StatusID] }}" data-intervention-id="{{ intervention.ID }}">Modifier le Statut</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if not found %}
                    <p class="aucune-intervention col-12">Aucune intervention pour "{{ statusName }}"</p>
                {% endif %}
            </div>
        {% endfor %}

{% elseif session.user.Role == 'Client' %}
        {% for statusID, statusName in statusDescriptions %}
            <div class="statut-titre">{{ statusName }}</div>
            <div class="row">
                {% set found = false %}
                {% for intervention in interventions %}
                    {% if intervention.StatusID == statusID %}
                        {% set found = true %}
                        <div class="col-md-4">
                            <div class="card-wrapper">
                                <div class="service-card" data-title="{{ intervention.Title }}" data-img="{{ imagesByTitle[intervention.Title]|default('path/to/default.jpg') }}" data-detail="{{ intervention.Description }}" data-status="{{ statusDescriptions[intervention.StatusID] }}" data-intervention-id="{{ intervention.ID }}">
                                    <h3>{{ intervention.Title }}</h3>
                                </div>
                                <div class="text-center mt-2">
                                    {% if intervention.StatusID == 4 %}
                                        <!-- Affiche le bouton de commentaire pour les clients dans les interventions clôturées -->
                                        <button type="button" class="btn btn-secondary btn-sm open-comment-modal" data-toggle="modal" data-target="#commentModal" data-id="{{ intervention.InterventionID }}" data-intervention-id="{{ intervention.ID }}">Laisser un commentaire</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if not found %}
                    <p class="aucune-intervention col-12">Aucune intervention pour "{{ statusName }}"</p>
                {% endif %}
            </div>
        {% endfor %}



        {% elseif session.user.Role == 'Admin' %}
        {% for statusID, statusName in statusDescriptions %}
            <div class="statut-titre">{{ statusName }}</div>
            <div class="row">
                {% set found = false %}
                {% for intervention in interventions %}
                    {% if intervention.StatusID == statusID %}
                        {% set found = true %}
                        <div class="col-md-4">
                            <div class="card-wrapper">
                                <div class="service-card {% if intervention.UrgencyLevelID == 3 %}urgent{% endif %}"
                                    data-title="{{ intervention.Title }}"
                                    data-img="{{ imagesByTitle[intervention.Title]|default('path/to/default.jpg') }}"
                                    data-detail="{{ intervention.Description }}"
                                    data-status="{{ statusDescriptions[intervention.StatusID] }}"
                                    data-intervention-id="{{ intervention.ID }}"
                                    data-planned-date="{{ intervention.InterventionDate|date('Y-m-d') }}"
                                    data-urgency-level="{{ intervention.UrgencyLevelID }}">
                                    <h3>{% if intervention.UrgencyLevelID == 3 %}<i class="bi bi-exclamation-triangle-fill"></i>{% endif %} {{ intervention.Title }}</h3>
                                </div>
                                <div class="text-center mt-2">
                                    {% if intervention.StatusID != 5 %}
                                        <button type="button" class="btn btn-info btn-sm modifier-statut-btn" data-toggle="modal" data-target="#statusModal" data-id="{{ intervention.InterventionID }}" data-status="{{ intervention.StatusID }}" data-status-text="{{ statusDescriptions[intervention.StatusID] }}" data-intervention-id="{{ intervention.ID }}">Modifier le Statut</button>
                                        {% if intervention.StatusID == 3 %} <!-- Si le statut est "Terminée" -->
                                            <button type="button" class="btn btn-secondary btn-sm close-intervention-btn" data-id="{{ intervention.InterventionID }}" data-status="{{ intervention.StatusID }}" data-status-text="{{ statusDescriptions[intervention.StatusID] }}" data-intervention-id="{{ intervention.ID }}">Clôturer</button>
                                            
                                        {% endif %}
                                        {% if intervention.StatusID == 1 %} <!-- Si le statut est "Terminée" -->
                                                <button type="button" class="btn btn-secondary btn-sm avoid-intervention-btn" data-id="{{ intervention.InterventionID }}" data-status="{{ intervention.StatusID }}" data-status-text="{{ statusDescriptions[intervention.StatusID] }}" data-intervention-id="{{ intervention.ID }}">Annuler</button>
                                                <button type="button" class="btn btn-secondary btn-sm avoid-intervention-btn" data-id="{{ intervention.InterventionID }}" data-status="{{ intervention.StatusID }}" data-status-text="{{ statusDescriptions[intervention.StatusID] }}" data-intervention-id="{{ intervention.ID }}">Modifier</button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if not found %}
                    <p class="aucune-intervention col-12">Aucune intervention pour "{{ statusName }}"</p>
                {% endif %}
            </div>
        {% endfor %}

    {% endif %}
    <div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="serviceModalLabel">Titre du Service</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img id="serviceImage" src="" alt="Service" style="width:100%;">
              <div class="separator"></div>
              <p id="serviceDetail"></p>
              <p id="plannedDate">Date prévue: <span></span></p>
              <!-- Ligne ajoutée pour le numéro de téléphone -->
              
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Modal pour laisser un commentaire -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">Laisser un commentaire</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="submit_comment.php" method="post">
            <div class="form-group">
                <label for="CommentText">Votre commentaire</label>
                <textarea class="form-control" id="CommentText" name="CommentText" rows="3" required></textarea>
            </div>
            <!-- Assurez-vous que la valeur de InterventionID est correctement définie -->
            <input type="hidden" id="InterventionIdForComment" name="InterventionID" value="InterventionID">
            <button type="submit" class="btn btn-primary">Envoyer le commentaire</button>
        </form>
        
      </div> 
    </div>
  </div>
</div>


<!-- Modal pour modifier le statut -->
<!-- Modal pour modifier le statut -->
<div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statusModalLabel">Modifier le Statut</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Début du formulaire de mise à jour du statut -->
                <form action="updateInterventionStatus.php" method="post">
                    <div class="form-group">
                        <label for="currentStatus">Statut Actuel:</label>
                        <input type="text" class="form-control" id="currentStatus" name="currentStatus" readonly>
                    </div>
                    <div class="form-group">
                        <label for="newStatus">Nouveau Statut:</label>
                        <select class="form-control" name="status" id="newStatus" onchange="this.form.submit()">
                            <option value="1">En attente</option>
                            <option value="2">En cours</option>
                            <option value="3">Terminée</option>
                        </select>
                    </div>
                    <input type="hidden" id="interventionId" name="interventionId">
                </form>
                <!-- Fin du formulaire -->
            </div>
        </div>
    </div>
  </div>
  




{% endblock %}